/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
	form, .right_block {
		width: 300px;
	}
	.right_block {
		position: relative;
	}
	#pos_tion {
		left: 15px;
	}
	.mod_w {
		position: absolute;
		bottom: 15px;
    	left: 47px;
	}
	.parent {
		display: block;
		padding: 20px;
		text-align: center;
	}
	.centered {
		text-align: center;
		margin: 50px auto;
		float: none;
	}
	.left_align_hd {
		text-align: left;
		margin: auto;
		width: 450px;
	}
	.left_align_ft {
		text-align: left;
		margin: auto;
		padding-left: 50px;
		width: 300px;
	}
	
	.offer {
		margin: 30px auto;
	}
	.offer ol {
		text-align: left;
	}
	.offer button {
		margin: 0px auto 20px auto;
	}

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {

}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
	
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
	
}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {
	.left_align_hd {
		text-align: left;
		margin: auto;
		width: 100%;
	}
	.offer {
		width: 300px;
	}
}


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
	
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}